@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-gray-50 font-sans;
}

.sticky-nav {
    animation: sticky-nav 300ms;
}
   
@keyframes sticky-nav {
   0% {
       transform: translateY(-6em)
   }

   100% {
       transform: translateY(0)
   }
}